.forgot-password-modal{
    .spinner{
        margin-top: 1%;
        background-color: $color-white;
    }

   .spinner .text{
        color:grey;
        margin-left: 35%;
        padding-top: 0%;
    }
    
    .spinner .loader{
      padding-top: 20%;
       margin-left: 45%;
    }
}