.reset-password{
    width:100%;
    form{
        background-color: $color-white;
        margin: 10% 30% 0 30%;
    }
    .heading{
        padding: 30px 5px 30px 70px;
        font-size: 25px;
        font-weight: bold;
        color: $color-info;
    }

    .fields{
        padding: 2px 10px 10px 30px;

    }

    button{
        margin: 2px 10px 20px 30px;
    }

    .field-error{
        color:$color-error;
        font-size: 13px;
    }
    
    .error{
        padding: 7px 0 10px 70px;
        color:$color-error;

    }

}