body , html {
    height: 100%;
    margin:0;
    background:$color-grey-light;
    font-family: DINPro, sans-serif;
}
section{
    width: 100%;
    margin-top: 10%;
}

a {
    text-decoration: none;
}
@media screen and (max-width: 1070px) {
    section{
        margin-top: 15%;
    }
  }

  @media screen and (max-width: 1070px) {
    section{
        margin-top: 20%;
    }
  }
  