body , html {
    height: 100%;
    margin:0;
    background:$color-white;
    font-family: DINPro, sans-serif;
}

.loader{
   margin: 20% 0 35% 45%;
}
a {
    text-decoration: none;
}

header{
    width: 100%;
    margin-top:2%;
    margin-bottom: 3%;
    background-color:white;
    display: inline-block;

    .title{
        padding: 40px;
      font-size: 35px;
      color: $color-info;

    }

}
.add-button{
    button{
        float:right;
        height: 50px;
        width: 130px;
        background-color: $color-primary;
        color: $color-white;
        font-size: 17px;
        border-radius:5px;
        cursor: pointer;
        outline: none;

    }

    button:hover{
       background-color: $color-secondary;
       color:$color-grey-light;
    }
}
