.home{
    width: 100%;
    position: relative;

    .header{
      margin: 7% 4% 3% 5%;
      span{
        font-size: 35px;
        color: $color-info;
      }

    button{
         float:right;
         height: 50px;
         width: 130px;
         background-color: $color-primary;
         color: $color-white;
         font-size: 17px;
         border-radius:5px;
         cursor: pointer;
         outline: none;
     }

     button:hover{
        background-color: $color-secondary;
        color:$color-grey-light;
     }
    }
}