.items{
    margin-top:-5%;
    margin-left: 2%;
    position: relative;
    background-color: $color-white;
    width: 100%;
    padding: 0.5%;
    margin-bottom: 5%;

    .items-header{
        margin-bottom: 3%;
        .header{
            margin: 1% 0 1% 0;
            span{
                font-size:  30px;
                color:$color-info;
            }

            button{
                float:right;
                height: 50px;
                width: 130px;
                background-color: $color-primary;
                color: $color-white;
                font-size: 17px;
                border-radius:5px;
                cursor: pointer;
                outline: none;
            }

            button:hover{
               background-color: $color-secondary;
               color:$color-grey-light;
            }
        }
    }
    .card{
        display: inline-block;
        margin: 0.3%;

        .MuiTypography-colorPrimary {
            color: $color-primary;
            font-size: 16px;
            opacity: 0.8;
        }

        .MuiTypography-colorSecondary {
            color: rgb(56, 54, 54);
            opacity: 0.8;
            font-size:13px;

            span{
                color: rgb(56, 54, 54);
                opacity: 0.9;
                font-size:15px;
               }
        }

        .MuiTypography-colorTextPrimary{
            color:$color-primary;;
            opacity: 0.7;
            font-weight: bold;
            font-size:19px;
            .price{
                color: #298FBE;
                font-weight: bold;
                font-size:18px;
                padding-right:5px;
               }
               .negotiable{
                padding-left: 5px;
                color: rgb(56, 54, 54);
                font-size:15px;
               }
        }

        .card-content{
            border-top: 1px solid $color-grey-light;
        }
    }
}
