.navbar {
    width: 100%;
    background-color: $color-white;
     top: 0 ;
    z-index: 2;
    position: fixed;
    height: 110px;

    .nav-head{
        margin-bottom: 3%;
        padding-bottom: 10px;
    }

    .logo {
    margin: 1% 10% 0 1%;

    float:left;
    font-size: 30px;
    font-weight: bold;
    color: $color-primary;
    }

    .nav-center {
        margin-right: 10%;
        float:left;

        li {
            display: inline-block;
            padding:20px 0 20px 20px;
        }

        &_icon::before{
            content:' '
        }
        .categories{
            color:$color-secondary;
            padding:10px;
        }
        .categories:hover{
            background-color:$color-light;
        color:rgb(34, 32, 32);
        }
    }

    .nav-right {
        li {
            float:right;
            padding:20px 0 20px 20px;
        }
    }

    ul {
        margin:0;
        list-style: none;
    }

    a {
        color:$color-secondary;
        padding:10px;
    }

    a:hover {
        background-color:$color-light;
        color:rgb(34, 32, 32);
      }

    .bottom {
    height: 35px;
    background-color: $color-primary;
    padding-top: 2px;
    }

    .dropdown{
        margin-left:-1%;
        background-color: $color-white;
        position:absolute;
        box-shadow: 3px 3px 7px rgb(117, 108, 108);

        div{
           padding: 10px 0 10px 0;
           text-align: center;
           margin-top:0;
           a{

           padding: 5px;
           }
        }

        div:hover {
            background-color:$color-light;
            color:rgb(34, 32, 32);
          }
    }

    @media screen and (max-width: 900px) {
        .nav-head{
            margin-bottom: 5%;
            padding-bottom: 20px;
        }
        .nav-center {
            margin-right: 2%;
        }
        .bottom {
             height: 10px;
             background-color: $color-primary;
             }
      }

        @media  screen and (max-width: 600px) {
        .logo {
            margin-right: 1% ;
            }
        .nav-center {
            li {

                padding:3px;
            }

        }
        .bottom {

            background-color: $color-white;

            }
    }
}
