.view-item{
    height: 100%;
    .wrapper{
        margin-top: 5%;
        display: flex;
        .left{
            width: 50%;
            height: 35em;
             img{
                width: auto;
                height: 100%;
             }
         }
         .right{
            width: 50%;
            height: 35em;
            text-align: center;
            .header{
              margin-top: 20%;
               margin-bottom: 5%;
                color: $color-primary;
                font-size: 23px;
            }
            .price{
                font-weight: bold;
                margin-bottom: 5%;
                font-size:20px;
            }
            .contact-link{
                a{
                    color:$color-info;
                }
                margin-bottom: 1%;
            }
            .actions{
                display: none;
            }
         }
    }
    .description{
         padding-top:3em;
        text-align: center;
        &_header{
            font-size:18px;
            font-weight: bold;
        }
        &_body{
             padding: 5px;
            color: rgb(66, 65, 65);
        }
    }
}
